.forgot-password {
  max-width: 520px;
  margin: 25px auto 0px auto;

  border: solid 1px #e5e5e5;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;

  &__field {
    margin-bottom: 5px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__title {
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__btn {
    width: 100%;
    margin-top: 20px;
  }

  &__message {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .forgot-password {
    border: none;
    box-shadow: none;
    padding: 5px;
  }
}
