// ----------------------------------------------
//		header
// ----------------------------------------------
.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-right: 15px;
  display: flex;
  align-items: flex-end;

  &__datepicker {
    position: absolute;
    top: 70px;
    left: 10px;
    max-width: 285px;
    z-index: 21;
  }

  &__selected-date {
    display: flex;
    position: relative;
    justify-content: flex-start;
    min-width: 170px;
    font-size: 20px;
    padding-left: 5px;
    margin: 1px 0 12px 0;
    transition: color 0.15s ease-out;

    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__selected-month {
    margin-right: 8px;
    cursor: pointer;
    user-select: none;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__selected-year {
    cursor: pointer;
    user-select: none;
  }

  &__btns-wrap {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__range-btn {
    font-size: 15px;
    padding: 8px 22px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.15s ease-out;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 0 1px rgba(0, 0, 0, 0.05),
      0 4px 6px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;
    user-select: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-width: 580px) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    &__gridnav {
      margin-bottom: 10px;
      box-shadow: none !important;
    }

    &__wrap {
      width: 100%;
      margin: 0 auto;
    }

    &__datepicker {
      left: 0 !important;
      width: 100%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    &__range-btn {
      box-shadow: none !important;
    }

    &__btns-wrap {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    &__btns-wrap {
      flex-direction: column;
    }
  }
}
