.preview-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  padding: 20px 22px 24px;
  text-align: left;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  z-index: 22;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
  }

  &__title {
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
  }

  &__close {
    font-size: 32px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.15s ease-out;
    margin-right: -5px;

    &:before {
      margin: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__descr {
    font-size: 15px;
    max-height: 120px;
    // overflow-y: auto;
  }

  &__descr-item {
    display: block;
    margin-bottom: 3px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0px 5px 0px;
  }
}

.action-bar {
  user-select: none;
  transition: opacity 0.15s ease-out;

  &__btn {
    position: relative;
    margin-left: 15px;
    width: 38px;
    height: 38px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: #eeeeee;
    transition: background-color 0.15s ease-out, transform 0.15s ease-out;

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      font-size: 22px;
      margin-left: 0;
    }

    &:hover {
      background-color: #e6e6e6;
    }
    &:active {
      transform: scale(0.96);
    }
  }

  &__btn-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;

    &_close {
      position: initial;
      margin-right: 10px;
      transform: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .preview-popup {
    width: 97%;

		&__header {
			padding-bottom: 20px;
		}

		&__footer {
			padding: 20px 0 5px 0px;
		}
  }
}