.admin {
  &__title {
    font-size: 20px;
    padding-left: 5px;
    margin: 1px 0 12px 0;
  }
}

.user-list {
  border: solid 1px #e5e5e5;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  &__table {
    width: 100%;
    border-collapse: collapse;
    // text-align: center;
  }

  &__body {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__head {
    color: #0b1c42;
  }

  &__empty-row {
    height: 25px;
  }

  &__row {
    // padding: 5px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background-color 0.15s ease, outline 0.15s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &_head {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: auto;

      &:hover {
        background-color: transparent;
      }
      &:active {
        background-color: transparent;
      }
    }

    &_selected {
      background-color: rgba(72, 135, 225, 0.15);
      outline: 1px solid rgba(36, 68, 113, 0.4);
    }
  }

  &__empty-cell {
    border: solid 1px rgba(0, 0, 0, 0.05);
  }

  &__head-cell {
    font-size: 17px;
    text-align: left;
    padding: 25px 15px 25px 15px;
    letter-spacing: 1px;
    border: solid 1px rgba(0, 0, 0, 0.05);
  }

  &__head-text {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: color 0.15s ease-out;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      right: -30px;
      height: 100%;
      width: 35px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEuMyAxTDYuNSA1LjcgMS43IDFsLS43LjdMNi41IDcgMTIgMS43bC0uNy0uN3oiLz48L3N2Zz4=);
      transition: transform 0.15s ease-out;
      background-repeat: no-repeat;
      background-position: 50%;
      opacity: 0;
      transition: color 0.15s ease-out, opacity 0.15s ease-out,
        transform 0.15s ease-out;
    }

    &:hover {
      color: #4887e1;

      &::before {
        opacity: 1;
      }
    }

    &:active {
      color: #c00;
    }

    &_order-asc,
    &_order-desc {
      &::before {
        opacity: 1;
      }
    }

    &_order-asc {
      &::before {
        top: 0px;
        transform: rotate(180deg);
      }
    }
  }

  &__body-cell {
    font-size: 15px;
    // color: #333333;
    color: rgb(36, 68, 113);
    padding: 20px 15px 20px 15px;
    text-align: left;

    border: solid 1px rgba(0, 0, 0, 0.05);
  }
}

@media only screen and (max-width: 768px) {
  .admin {
    // padding: 15px;
  }
}

@media only screen and (max-width: 580px) {
  .admin {
    border: none;
  }

  .user-list {
    &__head {
      display: none;
    }

    &__body {
      border: none;
    }

    &__head-cell {
      border: none;
    }

    &__row {
      margin-bottom: 25px;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    &__body-cell {
      display: block;
      text-align: right;
      padding: 15px 5px 15px 5px;
      font-size: 14px;
      border: none;

      &:last-child {
        border-bottom: 0;
      }

      &:before {
        content: attr(data-label);
        text-transform: uppercase;
        font-weight: bold;
        float: left;
      }
    }
  }
}
