.radio-group {
  &__option {
    display: inline-block;

    &:first-child label {
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transform: translateX(1px);
    }

    &:last-child label {
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transform: translateX(-1px);
    }
  }

  &__label {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.12);
    user-select: none;
    white-space: nowrap;
    line-height: 34px;
    font-size: 15px;
    padding: 0px 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.radio-group__input:checked + .radio-group__label {
  border-color: rgba(21, 126, 225, 0.5);
  background-color: #eef4fa;
}

@media only screen and (max-width: 580px) {
  .radio-group {
    &__option {
      display: block;
      width: 100%;

      &:first-child label {
        border-radius: 4px;
        transform: translateY(1px);
      }

      &:last-child label {
        border-radius: 4px;
        transform: translateY(-1px);
      }
    }

    &__label {
      display: block;
      border-radius: 4px;
    }
  }
}
