.schedule-range {
  border: solid 1px #e5e5e5;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;

  &__datepicker {
    position: absolute;
    left: -60px;
    top: 36px;
    z-index: 22;
  }

  &__day {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    &_admin {
      flex-direction: column;
    }
  }

  &__date {
    opacity: 0.9;
    white-space: nowrap;
    margin-right: 25px;
    padding: 10px 13px;
    min-width: 160px;
  }

  &__dayOfMonth {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
  }

  &__month {
    margin-left: 4px;
    opacity: 0.7;
    font-size: 18px;
  }

  &__year {
    margin-left: 4px;
    opacity: 0.7;
    font-size: 18px;
  }

  &__dayOfWeek {
    opacity: 0.7;
    font-size: 15px;
  }

  &__date-block {
    display: flex;
    align-items: center;
  }

  &__date-wrap {
    position: relative;
    white-space: nowrap;
  }

  &__range-wrap {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    margin-left: 20px;
  }

  &__label {
    font-size: 20px;
    color: #999;
    margin-right: 15px;
  }

  &__start-date,
  &__end-date {
    font-size: 25px;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 10px;
    transition: border-color 0.15s ease-out, border-width 0.15s ease-out,
      outline-color 0.25s ease-out;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      border-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__nav {
    margin-bottom: 29px;
  }

  &__link {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.12);
    user-select: none;
    white-space: nowrap;
    line-height: 34px;
    font-size: 15px;
    padding: 0px 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-out;

    &:first-child {
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transform: translateX(1px);
    }

    &:last-child {
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transform: translateX(-1px);
    }

    &_active {
      border-color: rgba(21, 126, 225, 0.5);
      background-color: #eef4fa;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-width: 768px) {
  .schedule-range {
    padding: 15px;
  }
}

@media only screen and (max-width: 580px) {
  .schedule-range {
    border: none;
    // box-shadow: none;
    padding: 0px;

    &__datepicker {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    &__link {
      display: block;
      width: 100%;
      border-radius: 4px;

      &:first-child {
        border-radius: 4px;
        transform: translateY(1px);
      }

      &:last-child {
        border-radius: 4px;
        transform: translateY(-1px);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .schedule-range {
    position: relative;

    &__date-wrap {
      position: initial;
    }

    &__label {
      margin-bottom: 20px;
    }

    &__day {
      flex-direction: column;
    }

    &__range-wrap {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-left: 0px;
    }

    &__date-wrap {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    &__start-date,
    &__end-date {
      margin: 0;
    }

    &__start-date + .datepicker {
      left: 15px;
    }

    &__end-date + .datepicker {
      left: initial !important;
      right: 15px;
    }

    &__dash {
      display: block;
    }

    &__datepicker {
      top: 200px;
      left: 20px !important;
    }
  }
}
