.user-bar {
  &__sing-out-btn,
  &__sing-up-btn,
  &__sing-in-btn {
    font-size: 18px;
    color: #4887e1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.15s ease-out;
    margin-right: 20px;

    &:hover {
      color: #4888e194;
    }
    &:active {
      color: #c00;
    }
  }
}
